@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: black;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.title, .subtitle {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form input, .form select, .form button {
    max-width: 500px;
    min-width: 360px;
    border-radius: 5px;
}
.form button {
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
    border: 2px;
    background-color: yellow;
    border-radius: 5px;
    margin-top: 10px;
}
.form button:hover {
    color: yellow;
    border: 2px solid yellow;
    background-color: black;
}

.form input {
    padding: 5px;
}
