@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: grey;
  color: whitesmoke;
}
.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}
.main{
  padding: 15px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#containerTabla {
  width: 50%;
  margin: 150px auto;
}

.table {
  background-color: black;
  width: 100%;
  text-align: left;

}

